<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome from Cloud9 Real Time, <%= @customer.organization_name %></h1>
<p>
  Another billing cycle has come to an end. You can see your Cloud9RealTime invoice here:
</p>
<p>
  <%= @url %>
</p>
<p>
  This is a one time url so that you can pay your bill. If you have any questions, please don't hesitate to call us.
</p>
<p>Thanks for being a part of Cloud9RealTime and have a great day!</p>
</body>
</html>