<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Cloud9 Automation</a>
        <ul class="nav">
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'products'}}Products{{/link-to}}</li>
            <li>{{#link-to 'customers'}}Customers{{/link-to}}</li>
            <li>{{#link-to 'systems'}}Systems{{/link-to}}</li>
            <li>{{#link-to 'groups'}}Product Groups{{/link-to}}</li>
            <li>{{#link-to 'opportunities'}}Opportunities{{/link-to}}</li>
        </ul>

    </div>
</div>

<div>
    {{outlet}}
</div>