%h1 Products Listing

%table.table-bordered.table-hover
  %thead
    %tr
      %th Type
      %th Product
      %th Delete?
      
  %tbody
    - prev_name = ''
    - @cloud9_products.each do |cloud9_product|
      %tr
        %td= cloud9_product.product_type.name.capitalize.eql?(prev_name) ? '' : cloud9_product.product_type.name.capitalize
        %td= link_to cloud9_product.invoice_name.capitalize, edit_product_path(cloud9_product)
        %td= link_to 'Remove', product_path(cloud9_product), :method => :delete, :class => 'btn btn-danger btn-mini',:data => { :confirm => 'Are you sure?' }
      - prev_name = cloud9_product.product_type.name.capitalize

%br

= link_to 'New Product', new_product_path
